{% extends 'base/index.html' %} {% block title %} Contact Us {% endblock%} {%
block body %}
<div id="contact-header" style="text-align: center">
    <h2>Contact Us</h2>
    <p>Swing by for a cup of coffee, or leave us a message</p>
  </div>
<div class="container contact">
  <div class="row">
    <div class="column" >
      <img id="map-image" alt="Map Image" />
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input
          type="text"
          id="fname"
          name="firstname"
          placeholder="Your name.."
        />
        <label for="lname">Last Name</label>
        <input
          type="text"
          id="lname"
          name="lastname"
          placeholder="Your last name.."
        />
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
        <label for="subject">Subject</label>
        <textarea
          id="subject"
          name="subject"
          placeholder="Write something.."
          style="height: 170px"
        ></textarea>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>

<style>


  .contact {
    box-sizing: border-box;
  }

  #contact-header {
    color: white;
}
#contact-header h2 {
    font-size:40px;
}
#contact-header p {
    font-size:16px;
}

#map-image {
    border-radius:5px;
    border:5px solid red;
    overflow: hidden;
}

  /* Style inputs */
  .contact input[type="text"],
  .contact select,
  .contact textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius:5px;
  }

  .contact label {
    font-weight: bold;
    font-size:14px;
  }

  .contact input[type="submit"] {
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius:5px;
  }

  .contact input[type="submit"]:hover {
    background-color: #45a049;
  }

  /* Style the container/contact section */
  .contact {
    
    border-radius: 5px;
    background-color: black;
    padding: 15px;
    color: white;
    border: 2px solid white;
  }

  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column,
    input[type="submit"] {
      width: 100%;
      margin-top: 0;
    }
  }
</style>

<script>
    window.addEventListener("load", (event) => {

        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (pos) {
                console.log("Latitude", pos.coords.latitude);
                console.log("Longitude", pos.coords.longitude);
                const latitude = pos.coords.latitude;
                const longitude = pos.coords.longitude;
                const apiKey = "AIzaSyC9E-dqPpTS5qlKbn6_qU22Nl6KYTIgPmo";
                const mapUrl = `https://maps.googleapis.com/maps/api/staticmap?center=${latitude},${longitude}&zoom=15&size=500x500&markers=color:red%7Clabel:You%7C${latitude},${longitude}&key=${apiKey}`;
                const mapImage = document.getElementById("map-image");
                mapImage.src = mapUrl;
            });
        } else {
            console.log("Geolocation is not available in this browser.");
        }
    });
</script>
{% endblock %}
